<li class="burger">
	{{#if devoured}}
	{{burger_name}}
	{{else}}
	<i>{{burger_name}}</i>
	{{/if}}
	<br>
	
	<img {{#unless devoured}}class="devoured"{{/unless}} src="assets/img/burger_avatar.png" width="50px">
	
{{#if devoured}}
<br>
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR ME!
	</button>
	{{/if}}
</li>